body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #333;
    font-size: 12px;
    font-family: "Microsoft YaHei"
}

ul,
ol {
    list-style-type: none;
}

select,
input,
img,
select {
    vertical-align: middle;
}

input {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #c00;
    text-decoration: none;
}

.clear {
    clear: both;
}

/* 大转盘样式 */
html,body,.box{
    width: 100%;
    height: 100%;
    position: relative;
}
.award {
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url(images/abg.jpg) no-repeat;
    background-size: 100%;
}
.result{
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url(images/result.jpg) no-repeat;
    background-size: 100%;
}
.txt{
    width: 65%;
    margin: 0 auto;
    margin-top: 45%;
    padding:20px;
    border-radius: 15px;
    background-color: #fff;

}
.txt>h2{
    font-size:18px;
    margin-bottom: 15%;
}
.txt>p{
    line-height: 35px;
    font-size:18px;
    padding-bottom: 30px;
    border-bottom: 1px solid;

}
.jansport>a,.txt>a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #435ab3;
    font-size: 18px;
    text-align: right;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.banner {
    display: block;
    width: 76%;
    margin: 0 auto;
    padding-top: 41%;
}
.banner .turnplate
 {
    display: block;
    width: 100%;
    position: relative;
}
.banner .turnplate canvas.item {
    width: 100%;
}
.banner .turnplate img.pointer {
    position: absolute;
    width: 36%;
    height: 48%;
    left: 32%;
    top: 20%;
}
.play{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    top: 10px;
}
.play img{
    display: none;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
a.btnShare{
    display: block;
    width: 135px;
    height: 72px;
    margin:0 auto;
    background: url("images/btnStart.png") no-repeat;
    background-size: 100%;
}
.result .bdshare-button-style0-16 a, .result .bdshare-button-style0-16 .bds_more{
    line-height: inherit;
    height: auto;
    background-image: none;
    padding-left:0;
    margin:0;
}
.weui-popup-overlay>img.go{
    display: none;
    position: absolute;
    right: 40px;
    top: 60px;
}
.weui-popup-overlay>img.sao{
    display: none;
    margin: 10% auto;
}
