<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动端申明 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>技术的一片沃土</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
     <script src="js/common.js"></script>
</head>
<style type="text/css" media="screen">
@media(min-width:768px) {
    .navbar {
        border-radius: 0;
    }
}
#active {
    color: #fff;
    background-color: #080808;
}

div#myBook table tr td,
div#myBook table tr th {
    text-align: center;
    vertical-align: middle;
}
</style>

<body>
    <nav class="navbar navbar-inverse nav-fixed-top" role="navigation">
        <div class="container">
            <!-- 主要的首页内容，比下面的大一点 -->
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand" id="active">首页</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul id="nav" class="nav navbar-nav">
                    <li v-for="meau in meaus">
                        <a href="{{meau.url}}">{{meau.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="myBook" class="container">
        <table class="table table-bordered table-hover table-striped">
            <caption>我的书架</caption>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>价格</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="book in books">
                    <!-- 序号 -->
                    <td>{{$index+1}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.price}}</td>
                    <!-- 使用v-if和v-else来进行数据显示判断 ;多条记录使用template,只有一条记录的时候直接在对应的标签里面使用v-if和v-else-->
                    <template v-if="book.id%2==0">
                        <td>
                        <!-- 调用事件的写法之一 -->
                            <button type="button" class="btn btn-danger btn-block" @click="del(book)">删除</button>
                        </td>
                    </template>
                    <template v-else>
                        <td><span class="text-info">不可删除</span></td>
                    </template>
                </tr>
            </tbody>
        </table>
        <!-- 添加书单,使用v-model驱动来直接即使刷新 -->
       <form role="form" id="formBook">
            <legend>添加书单</legend>
            <div class="form-group">
                <label for="">书名：</label>
                <input type="text" class="form-control" name="bookName" v-model="book.name">
            </div>
            <div class="form-group">
                <label for="">作者：</label>
                <input type="text" class="form-control" name="author" v-model="book.author">
            </div>
            <div class="form-group">
                <label for="">价格：</label>
                <input type="number" class="form-control" name="price" v-model="book.price">
            </div>
            <!-- 调用事件的写法之二 -->
            <button type="button" name="submit" class="btn btn-primary btn-block" v-on:click="addBook()">添加</button>
        </form>
    </div>
     <!-- footer -->
    <footer class="footer navbar navbar-default" style="margin-bottom: 0;" role="footer" @click="hide()">
        <div class="container" style="text-align:center;padding-top: 10px;">
            <p>今天是：
                <time></time>
                <script>
                setInterval(function() {
                    var date = new Date();
                    var t = date.toLocaleDateString();
                    var myTime = date.toLocaleTimeString().substring(0, 8);
                    document.getElementsByTagName("time")[0].innerHTML = t + "   " + myTime;
                }, 1000)
                </script>
            </p>
            <p>你是今天的第<span>112</span>个小怪兽&nbsp;&nbsp;&nbsp;当前访问总量为:<span>
            1120</span></p>
            <p>欢迎来到<strong>《一片技术的沃土》</strong>的小黑屋</p>
            <p>技术实现与版权所有：yuanshenchao</p>
        </div>
    </footer>
    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="http://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-validator/0.5.3/js/language/zh_CN.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
