* {
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family:"方正兰亭纤黑", 幼圆;
    font-size: 14px;
}

a {
    color: #f4767b;
    text-decoration: none;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
