.contain{
    position: relative;
}

.sub {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99 !important;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.sub>img {
    display: block;
    margin: 0 auto;
    margin-top: 40%;
    margin-bottom: 20px;
}


/*首页版*/

#index,
#questionBox {
    height: 100%;
    width: 90%;
    margin: 0 5%;
}


/*标题*/

.contain h1 {
    background: #118bd0;
    text-align: center;
    color: #fff;
    line-height: 45px;
    height: 45px;
    position: relative;
    overflow: hidden;
    z-index: 9;
    font-size: 16px;
    margin-bottom: 10px;
}


/*图片*/

#index img {
    display: block;
    max-width: 100%;
    min-height: 370px;
    margin: 0 auto;
}


/*文字*/

#index article {
    text-indent: 2em;
    line-height: 1.5rem;
    margin: 10px auto;
    text-align: left;
}


/*按钮*/

#id_start_ceshi {
    display: block;
    width: 80%;
    margin: 10px auto;
    line-height: 40px;
    background-color: #3481AD;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    border: none;
}


/*第二页*/

#questionBox,
#questionBox>article {
    display: none;
}

#questionBox>article>h2 {
    font-size: 16px;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0;
}

#questionBox>article>div {
    border-radius: 15px;
    margin: 10px 0;
    margin-bottom: 50px;
    border: 1px solid #ccc;
}

#questionBox>article>div>p {
    width: 100%;
    font-size: 16px;
    line-height: 35px;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
#questionBox>article>div>p>img{
    width: 60px;
    height: 60px;
    border-radius: 35px;
    vertical-align: middle;
    margin: 10px;
}

#questionBox>article>div>p.add0 {
    background-color: #ccc;
    border-radius: 15px 15px 0 0;
}

#questionBox>article>div>p.add1 {
    background-color: #ccc;
}

#questionBox>article>div>p.add2 {
    background-color: #ccc;
    border-radius: 0 0 15px 15px;
}

#questionBox>article>div>p:last-child {
    border: none;
}

#questionBox>article>div>p>input {
    width: 18px;
    height: 18px;
    margin: 0 15px;
    display: none;
    vertical-align: middle;
}
// 选中的样式
#questionBox>article>div>p.choose{
    background-color: #5cb85c;
}

a.btn {
    display: none;
    line-height: 30px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    width: 70px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}


/*二维码*/

#joinUs {
    /*position: absolute;*/
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.testTop {
    position: relative;
}

#joinUs hr,
.testTop hr {
    margin: 30px 15px;
    color: #ddd;
}

.fllow {
    display: inline-block;
    color: #f00;
    font-size: 12px;
    line-height: 12px;
    padding: 0 .5em;
    position: absolute;
    left: 45%;
    top: -5px;
    background-color: #fff;
}

#joinUs div,div.joinUs {
    width: 100%;
    text-align: center;
}

#joinUs div h3,div.joinUs h3 {
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #f00;
    margin-top: -10px;
    margin-bottom: 20px;
}

#joinUs img,div.joinUs img {
    max-width: 100%;
}


/*结果*/

#result>article,
#result>footer {
    display: none;
}
#result>article>div>p:nth-child(2){
    text-align: center;
}
#result>article>div>p>img {
    max-width: 100%;
    margin: 10px auto;
}
#result>article>div>div{
    margin:10px;
    clear: both;
    height: auto;
    overflow: hidden;
}
#result>article>div>div>p{
    font-size:16px;
    font-weight: bold;
}
#result>article>div>div>div{
    width: 50%;
    text-align: center;
    float: left;
}
#result>article>div>div>div>img{
    max-width: 100%;
    margin:10px auto;
}
#result>article p {
    letter-spacing: 1px;
    margin: 5px 10px;
    line-height: 25px;
    font-size:16px;
    font-weight: bold;
}

#result>article span {
    font-weight: normal;
}
#result>article p>span{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-indent: 32px;
    line-height: 32px;
}
#result>article p:first-child>span{
    display: inline-block;
    font-size: 16px;
    text-indent: 0px;
}
.people {
    text-align: left;
    margin: 20px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 20px;
    text-indent: 1;
    font-weight: bold;
}
.people>span,.people>strong{
    display: block;
    line-height: 32px;
    color: #0070C0;
    text-align: center;
    font-size: 12px;
}
.people>strong{
    font-size: 18px;
}
